<%= form_for event do |form| %>
<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :date %>
  <%= form.date_field :date %>
</p>
<p>
  <%= form.label :capacity %>
  <%= form.number_field :capacity %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>
