<h1><%= @event.name %></h1>
<p>City: <%= @event.city %></p>
<p>Date: <%= @event.date %></p>
<p>Capactiy: <%= @event.capacity %></p>
<p>Created: <%= @event.created_at %></p>
<p>Updated: <%= @event.updated_at %></p>
<%= link_to 'Back', events_path %>
<%= link_to 'Delete event', event_path(@event), method: :delete, data:{confirm: 'Are you sure?'} %>
<%= link_to 'Edit event', edit_event_path(@event) %>
